body {
  font-family: monospace;
}

header.banner {
  background-color: #322;
}
header.banner h1 {
  margin: 0;
  font-size: 4rem;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}
header.banner h1 a {
  color: white;
  text-decoration: none;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

code {
  word-wrap: break-word;
}
