<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= "#{t = current_page.data.title}#{" • " if t}#badhax" %></title>
    <meta name="description" content="Slides for the #badhax class">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/vendor/big.css" type='text/css'>
    <script src='js/vendor/big.js'></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
